* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background: rgb(88,88,88);
    background: radial-gradient(circle, rgba(88,88,88,1) 1%, rgba(10,10,9,1) 90%);
}

.tap {
    border-radius: 5px;
    margin: 1em;
    transition: all 0.07s;
    width: 6.25em;
    height: 6.25em;
}

.tap1 {
    background: rgb(239,255,126);
    background: radial-gradient(circle, rgba(239,255,126,1) 1%, rgba(255,218,0,1) 90%);
}
.tap2 {
    background: rgb(255,175,126);
    background: radial-gradient(circle, rgba(255,175,126,1) 1%, rgba(255,72,0,1) 90%);
}
.tap3 {
    background: rgb(191,255,254);
    background: radial-gradient(circle, rgba(191,255,254,1) 1%, rgba(0,255,222,1) 90%);
}
.tap4 {
    background: rgb(191,201,255);
    background: radial-gradient(circle, rgba(191,201,255,1) 1%, rgba(0,99,184,1) 90%);
}
.tap5 {
    background: rgb(255,143,192);
    background: radial-gradient(circle, rgba(255,143,192,1) 1%, rgba(184,0,69,1) 90%);
}
.tap6 {
    background: rgb(247,157,255);
    background: radial-gradient(circle, rgba(247,157,255,1) 1%, rgba(108,0,184,1) 90%);
}
.tap7 {
    background: rgb(191,255,165);
    background: radial-gradient(circle, rgba(191,255,165,1) 1%, rgba(50,184,0,1) 90%);
}
.tap8 {
    background: rgb(255,83,83);
    background: radial-gradient(circle, rgba(255,83,83,1) 1%, rgba(196,0,0,1) 90%);
}
.tap9 {
    background: rgb(254,240,255);
    background: radial-gradient(circle, rgba(254,240,255,1) 1%, rgba(128,128,128,1) 90%);
}